@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tektur:wght@600;900&display=swap');

.s_logonav h3{
    background-color: rgb(26, 80, 173);
    border: 2px dotted black;
    border-radius:50%;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-family: 'Tektur', sans-serif;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    height: 40px;
    width:90px;
    
}



