
  
  /* After */
  .rr {
    /* padding: 10px; */
    /* background-image: url("../image/25.jpeg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* border: 3px solid gray;
    border-left: none;
    border-radius: 10px; */
    /* background-image: url('../image//bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
  }
  /* .container {
    width: 80%; 
  } */
  .regfrm{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    /* background-image: url('../image/22.webp'); */
  }
  /* .image-reg{
    border: 3px solid gray;
    border-right: none;
    border-radius: 10px;

  } */
